* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  // INDEX
  --index: 1vw + 1vh;

  // COLORS
  --color-bg: #f0f1fa;
  --color-text-black: #262626;
  --color-text-white: #f0f1fa;
  --color-text-grey: #6e6e6e;
  --color-button-lightgrey: #e4e6ef;
  --color-text-accent: #8c33fd;
  --color-text-accent-hover: #a057ff;

  --color-default-white: #fff;
  --color-default-black: #000;
}

@mixin text-header {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin text-paragraph {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin round-buttons {
  background: var(--color-button-lightgrey);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 0 calc(var(--index) * 13);
}

body {
  background: var(--color-bg);
  font-family: "Fira Sans";
  // overflow-x: hidden;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

.mobile-waiting {
  display: none;
}

// PRELOADER
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-bg);
  z-index: 9999;
  transition: all 0.4s ease;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.loader .loader_text {
  font-size: 50px;
  font-weight: 600;
  color: var(--color-text-black);
  margin: 20px auto;
  text-align: center;
}

.loader .loader_bar {
  position: relative;
  width: 500px;
  height: 12px;
  background: #edeef7;
  border-radius: 50px;
}

.loader .loader_bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-text-accent);
  border-radius: 50px;
  animation: fill 0.3s ease;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.m-header {
  position: relative;

  .header-navigation {
    @include flex-between-center();
    padding: 25px 0;

    .navigation_logo {
      @include text-header();
      color: var(--color-text-black);
      font-size: 32px;
      text-transform: uppercase;

      span {
        font-size: 10px;
        text-transform: uppercase;
      }
    }

    .navigation_right {
      @include flex-center-center();
      padding-right: 30px;

      .navigation-right__music-button {
        @include round-buttons();
        margin-right: 50px;
      }

      .playing {
        background: var(--color-text-accent);
      }

      .navigation-right__contacts {
        border-radius: 44px;
        background: var(--color-text-black);
        color: var(--color-text-white);
        padding: 11px 35px;

        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        transition: all 0.3s ease-in;

        &:hover {
          background: var(--color-text-accent);
        }
      }

      .colored {
        background: var(--color-text-accent);
        margin-right: 15px;
        border: 1px solid transparent;

        &:hover {
          background: var(--color-text-white);
          border: 1px solid var(--color-text-accent);
          color: var(--color-text-accent);
        }
      }

      .navigation {
        // position: absolute;
        // z-index: 20;
        .navigation__checkbox {
          display: none;
        }

        .navigation__button {
          position: absolute;
          top: calc(var(--index) * 0.6);
          right: calc(var(--index) * 10);
          height: 40px;
          width: 40px;
          text-align: center;
          background-color: var(--color-button-lightgrey);
          border-radius: 50%;
          z-index: 300 !important;
          cursor: pointer;
        }

        .navigation__background {
          position: absolute;
          top: calc(var(--index) * 0.8);
          right: calc(var(--index) * 10.4);
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background: var(--color-text-accent);
          background-size: cover;
          background-position: center;
          z-index: 100 !important;
          transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
        }

        .navigation__nav {
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          opacity: 0;
          width: 0;
          visibility: hidden;
          z-index: 200 !important;
          transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .navigation__list {
          /*@include center;*/
          position: absolute;
          z-index: 200 !important;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 100%;
          list-style: none;
        }

        .navigation__item {
          margin: 1rem;
        }

        .navigation__link:link,
        .navigation__link:visited {
          display: inline-block;
          padding: 1rem 2rem;
          text-transform: uppercase;
          color: var(--color-text-accent-hover);
          font-size: 2.4rem;
          text-decoration: none;
          transition: all 0.2s;
        }

        @media (min-width: 768px) {
          .navigation__link:link,
          .navigation__link:visited {
            font-size: 3.8rem;
          }
        }

        .navigation__link span {
          margin-right: 1.5rem;
          display: inline-block;
        }

        .navigation__link:hover {
          color: var(--color-text-white);
          transform: scale(1.1);
        }

        .navigation__checkbox:checked ~ .navigation__background {
          transform: scale(140);
        }

        .navigation__checkbox:checked ~ .navigation__nav {
          width: 100%;
          visibility: visible;
          opacity: 1;
        }

        .navigation__icon {
          position: relative;
          margin-top: calc(var(--index) * -0.1);
          margin-right: calc(var(--index) * -2);
        }

        .navigation__icon,
        .navigation__icon::before,
        .navigation__icon::after {
          display: inline-block;
          width: 17px;
          height: 2px;
          background-color: var(--color-text-black);
          border-radius: 10px;
        }

        .navigation__icon::before,
        .navigation__icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all 200ms;
        }

        .navigation__icon::before {
          top: -0.4rem;
        }

        .navigation__icon::after {
          top: 0.4rem;
        }

        .navigation__button:hover .navigation__icon::before {
          top: -0.5rem;
        }

        .navigation__button:hover .navigation__icon::after {
          top: 0.5rem;
        }

        .navigation__checkbox:checked + .navigation__button .navigation__icon {
          background-color: transparent;
        }

        .navigation__checkbox:checked
          + .navigation__button
          .navigation__icon::before {
          top: 0;
          transform: rotate(135deg);
        }

        .navigation__checkbox:checked
          + .navigation__button
          .navigation__icon::after {
          top: 0;
          transform: rotate(-135deg);
        }
      }

      .navigation-right__menu-button {
        @include round-buttons();
        margin-left: 15px;
        position: relative;
      }
    }
  }
}

.m-main {
  // TEST

  // Hero Section
  .hero-section {
    position: relative;
    z-index: -1;

    .hero_title {
      color: var(--color-text-black);
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
      padding-top: 70px;
      position: relative;
      z-index: -1;
    }

    .hero_big-pic {
      margin-top: 25px;
      height: calc(var(--index) * 65);
      position: relative;
      z-index: -1;
      // transform-origin: 0 0;
      // transform: scale(0.7);

      .hero-mask {
        .hero_big-pic_video {
          position: absolute;
          width: 100%;
          height: calc(var(--index) * 65);
          object-fit: cover;
          border-radius: 20px;
          box-shadow: 0px 4px 12.5px 1px rgba(0, 0, 0, 0.25);
          // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }
    }

    .hero_scrolldown {
      @include flex-between-center();
      padding-top: 15px;
      padding-bottom: calc(var(--index) * 31);
      opacity: 0;
      position: relative;
      z-index: -1;

      .hero_scrolldown_plus {
        color: var(--color-text-black);
        font-size: 36px;
        font-style: normal;
        font-weight: lighter;
        line-height: normal;
      }

      .hero_scrolldown_text {
        color: var(--color-text-black);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        animation: scrolltext-blink 2s ease-in-out 0s infinite;
      }

      @keyframes scrolltext-blink {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0.2;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }

  // Problems Section
  .problems-section {
    padding-top: 600px;
    position: relative;
    background: var(--color-text-black);
    border-radius: 0 0 30px 30px;
    z-index: 10 !important;
    padding-bottom: calc(var(--index) * 20);

    .problems-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .problems_title {
      position: absolute;
      left: 50%;
      top: calc(var(--index) * 40);
      transform: translateX(-50%);
      color: var(--color-text-white);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-wrap: nowrap;
    }

    .problems_slider {
      // margin-top: 50px;
      position: relative;
      left: 70%;
      transform: translateX(-70%);

      .problems-slider_wrapper {
        .problems-slider_slide {
          text-align: center;
          width: 100%;
          height: calc(var(--index) * 80);
          color: var(--color-bg);

          .problems-slider_comment {
            text-align: center;
            position: relative;
            width: 450px;
            height: 210px;
            border-radius: 20px;
            background: var(--color-text-white);
            box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.85);
            padding: 7px;
            @include flex-center-center();

            .problems-slider_comment_text {
              color: var(--color-text-black);
              // padding-top: calc(var(--index) * 5);
              font-size: 28px;
              font-weight: 700;
            }

            .problems-slider_image {
              width: 400px;
              position: absolute;
              left: calc(var(--index) * -30);
              top: calc(var(--index) * 15);
            }

            .problems-slider_comment_circle {
              position: absolute;
              bottom: -13px;
              left: 30px;
              width: 40px;
              height: 40px;
              background: var(--color-text-white);
              border-radius: 100%;
              filter: drop-shadow(0px 2px 4px rgba(255, 255, 255, 0.85));
            }

            .problems-slider_comment_circle2 {
              position: absolute;
              bottom: -40px;
              left: 20px;
              width: 20px;
              height: 20px;
              background: var(--color-text-white);
              border-radius: 100%;
              filter: drop-shadow(0px 2px 4px rgba(255, 255, 255, 0.85));
            }
          }
        }

        .swiper-pagination-bullet-active {
          background: var(--color-text-accent);
        }
      }
    }
  }

  // Addiction Section
  .addiction-section {
    margin-top: calc(var(--index) * 40);

    .addiction_title {
      color: var(--color-text-black);
      font-size: 42px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .addiction_paragraph {
      color: var(--color-text-grey);
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding-top: 13px;
    }

    .addiction-article_textblock {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .addiction-article_text {
        color: var(--color-text-black);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .addiction_video {
      margin-top: 10px;
      max-width: 100%;
      height: calc(var(--index) * 71); //71
      border-radius: 20px;
      // box-shadow: 0px 4px 12.5px 0px rgba(0, 0, 0, 0.25);
    }
  }

  // Timeline Section
  .timeline-section {
    margin-top: 430px;

    .timeline_title {
      color: var(--color-text-black);
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .timeline_paragraph {
      text-align: center;
      color: var(--color-text-grey);
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding-top: 15px;
    }

    .timeline_graph {
      @include flex-center-center();
      margin-top: 100px;

      .timeline {
        position: relative;
        min-height: 150px;

        .timeline_line {
          position: absolute;
          z-index: 0;
          left: calc(50% - 1px);
          width: 2px;
          top: 0;
          background-color: var(--color-text-black);
          height: 100%;
          border-radius: 50px;

          &::before,
          &::after {
            position: absolute;
            display: block;
            content: "";
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background-color: var(--color-text-grey);
            left: 50%;
            transform: translateX(-50%);
          }

          &:after {
            bottom: 0;
            background-color: var(--color-default-white);
          }

          .timeline_line_line-inner {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: var(--color-text-grey);

            .timeline_line_line-inner_ball {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              background-color: var(--color-text-accent);
              margin-left: -15px;
            }
          }
        }

        .timeline_section {
          display: flex;
          // opacity: 0;
          // transform: translateX(-100%);
          // transition: 0.6s ease;
          position: relative;
          z-index: 1;
          margin: 50px 0;
          padding: 1rem;
          align-items: center;
          min-height: 300px;
          color: #000;

          &.active {
            .timeline_content {
              transition: 0.4s ease-in-out;
              opacity: 1;

              .content-mult_title {
                color: var(--color-text-accent);
              }
            }
          }

          .timeline_content {
            display: flex;
            // justify-content: space-around;
            opacity: 0;
            position: relative;
            z-index: 10;

            border-radius: 20px;

            .content_section {
              width: 450px;
              background: var(--color-text-black);
              padding: 20px;
              border-radius: 20px;
              height: calc(var(--index) * 40);

              &:not(:last-child) {
                margin-right: 50px;
              }

              .content-mult_title {
                color: var(--color-text-black);
                transition: 0.6s ease;
                font-size: 30px;
                background-color: var(--color-text-white);
                text-align: center;
                text-transform: uppercase;
                border-radius: 20px;
                padding: 5px 0;
              }

              .timeline_paragraph {
                text-align: start;
                color: var(--color-text-white);
                font-size: 16px;
                padding-top: 30px;
                // padding: 20px 10px;
                // background: rgba(38, 38, 38, 0.74);
                // border-radius: 16px;
                // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                // backdrop-filter: blur(5px);
                // -webkit-backdrop-filter: blur(5px);
                // border: 1px solid rgba(38, 38, 38, 0.35);
                // border-radius: 15px;

                // height: calc(var(--index) * 20);
              }
            }
          }
        }
      }
    }
  }

  // Episodes Section
  .episodes-section {
    margin-top: 600px;
    padding-bottom: 500px;
    @include flex-center-center();
    flex-direction: column;
    text-align: center;

    .episodes_title {
      color: var(--color-text-black);
      font-size: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      max-width: 949px;
    }

    .episodes_subtitle {
      color: var(--color-text-grey);
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      max-width: 929px;
      padding-top: 50px;
    }

    .episodes_transition-screen {
      margin-top: 100px;
      width: 925px;
      height: 399px;
      border-radius: 20px;
      background: var(--color-text-black);
      box-shadow: 0px 4px 12.5px 0px rgba(0, 0, 0, 0.25);
    }
  }

  // Seasons Section
  .seasons-section {
    position: relative;
    z-index: 10;
    background: var(--color-text-black);

    .seasons_title {
      text-align: center;
      color: var(--color-text-white);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: relative;
      padding: 36px;

      &::before {
        display: block;
        width: 430px;
        content: "";
        position: absolute;
        border-bottom: 1px solid var(--color-text-white);
        top: 50%;
        right: calc(var(--index) * 25);
        border-radius: 100%;
      }

      &::after {
        display: block;
        width: 430px;
        content: "";
        position: absolute;
        border-bottom: 1px solid var(--color-text-white);
        top: 50%;
        left: calc(var(--index) * 25);
        border-radius: 100%;
      }
    }

    .seasons_series {
      @include flex-center-center();

      .seasons_series_all {
        position: relative;
        height: calc(var(--index) * 87);
        padding: 69px 35px 13px 35px;
        transition: 0.3s ease;
        width: calc(100vw / 4);

        &:hover {
          width: calc(100vw / 3);

          .seasons_series_all_title {
            opacity: 1;
          }

          .seasons_series_all_paragraph {
            opacity: 1;
          }

          .seasons_series_all_play {
            opacity: 1;
          }

          .seasons_series_all_number {
            color: var(--color-text-white);
          }

          .seasons_series_all_hr1 {
            opacity: 0;
          }

          .seasons_series_all_hr2 {
            opacity: 0;
          }
        }

        .seasons_series_all_preview {
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translateX(-50%);
          // transform: translateY(-15%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .seasons_series_all_preview_lock {
            margin: 20px 0;
          }

          .seasons_series_all_preview_line {
            width: -10px;
          }
        }

        .seasons_series_all_title {
          color: var(--color-text-white);
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          // margin-top: calc(var(--index) * 45);
          transition: 0.3s ease;
          opacity: 0;
          position: absolute;
          top: calc(var(--index) * 50);
          left: 50%;
          transform: translateX(-50%);
          text-wrap: nowrap;
        }

        .seasons_series_all_paragraph {
          color: var(--color-text-white);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          padding-top: 7px;
          transition: 0.3s ease;
          opacity: 0;
          width: 380px;
          -webkit-text-stroke: 0.2px var(--color-text-black);

          position: absolute;
          top: calc(var(--index) * 55);
          left: 50%;
          transform: translateX(-50%);
        }

        .seasons_series_all_play {
          color: var(--color-text-white);
          background: var(--color-text-accent);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          cursor: pointer;
          text-wrap: nowrap;
          padding: 10px 40px;
          border-radius: 50px;
          border: 1px solid transparent;

          text-transform: uppercase;
          transition: 0.3s ease;
          position: absolute;
          top: calc(var(--index) * 70);
          left: 50%;
          transform: translateX(-50%);

          &:hover {
          }
        }

        .seasons_series_all_number {
          color: var(--color-text-grey);
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: 0.3s ease;
          position: absolute;
          left: 50%;
          bottom: 5%;
          transform: translateX(-50%);
        }

        .seasons_series_all_logo {
          position: absolute;
          top: calc(var(--index) * 4);
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .seasons_series_all_active {
        transition: 0.4s ease;

        &:hover {
          .seasons_series_all_preview {
            opacity: 0;
          }
        }
      }

      .seasons_series_1 {
        // background: #9e9e9e;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
          ),
          url(../../media/img/episodes_preview/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        width: calc(100vw / 3);

        .seasons_series_all_title {
          opacity: 1;
        }

        .seasons_series_all_paragraph {
          opacity: 1;
        }

        .seasons_series_all_play {
          opacity: 1;
        }

        .seasons_series_all_number {
          opacity: 1;
        }

        .seasons_series_all_preview {
          opacity: 0;
        }
      }

      .seasons_series_2 {
        // background: #8b8b8b;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.8)
          ),
          url(../../media/img/episodes_preview/2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.3s ease;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url(../../media/img/episodes_preview/2.jpg);
        }
      }

      .seasons_series_3 {
        // background: #777777;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.8)
          ),
          url(../../media/img/episodes_preview/3.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url(../../media/img/episodes_preview/3.jpg);
        }
      }

      .seasons_series_4 {
        // background: #6b6b6b;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.8)
          ),
          url(../../media/img/episodes_preview/4.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url(../../media/img/episodes_preview/4.jpg);
        }
      }

      .seasons_series_5 {
        // background: #5e5e5e;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.8)
          ),
          url(../../media/img/episodes_preview/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  // Reviews Section
  .reviews-section {
    background: var(--color-text-black);
    padding-top: 700px;
    padding: 195px 0 calc(var(--index) * 30) 0;
    display: flex;
    position: relative;
    width: 260%;

    .reviews_article {
      padding-left: 100px;
      width: 704px;

      .reviews-article_title {
        color: var(--color-text-white);
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 604px;
      }

      .reviews-article_paragraph {
        color: var(--color-text-grey);
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-top: 40px;
        margin-bottom: 80px;
        max-width: 575px;
      }

      .reviews-article_button {
        color: var(--color-button-lightgrey);
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 44px;
        background: var(--color-text-accent);
        box-shadow: 0px 4px 4px 0px #8b33fda4;
        padding: 20px 66px;
      }
    }

    .reviews_comments {
      display: flex;
      position: absolute;
      left: calc(var(--index) * 130);

      .reviews-comments_comment {
        padding: 30px 28px;
        width: 455px;
        height: 550px;
        border-radius: 10px;
        background: #e4e6ef;
        filter: drop-shadow(0px 4px 12.5px rgba(255, 255, 255, 0.85));
        margin-right: 250px;

        &:first-child {
          // margin-left: 300px;
        }

        &:nth-child(2n) {
          margin-top: 100px;
        }

        .reviews-comments_video {
          border-radius: 10px;
          background: #d9d9d9;
          width: 399px;
          height: 195px;
        }

        .reviews-comments_rating {
          padding-top: 10px;
        }

        .reviews-comments_title {
          color: var(--color-text-black);
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding-top: 20px;
        }

        .reviews-comments_paragraph {
          color: var(--color-text-grey);
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          padding-top: 20px;
        }

        .reviews-comments_date {
          color: var(--color-text-grey);
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          padding-top: 20px;
        }
      }
    }
  }

  // Join Us Section
  .join-section {
    .join_title {
      text-align: center;
      color: var(--color-text-black);
      font-size: 88px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }

    .join_cards {
      @include flex-between-center();
      margin-top: 50px;

      .join-cards_card {
        background: var(--color-text-black);
        width: 500px;
        height: 700px;
        padding: 30px;
        border-radius: 20px;
        position: relative;

        &:first-child {
          .join-cards_card-name {
            font-size: 77px;
          }
        }

        .join-cards_card-top {
          @include flex-between-center();

          .join-cards_card-top_plan {
            font-size: 14px;
            background: var(--color-text-white);
            color: var(--color-text-black);
            padding: 11px 40px;
            border-radius: 20px;
          }
          .join-cards_card-top_plan-descr {
            color: var(--color-text-grey);
            font-size: 14px;
          }
        }

        .join-cards_card-name {
          color: #313131;
          font-size: 82px;
          font-weight: 700;
          text-wrap: nowrap;
          position: absolute;
          z-index: 1;
          left: 50%;
          transform: translateX(-50%);
          top: 120px;
        }
        .join-cards_card-price {
          font-size: 64px;
          color: var(--color-text-white);
          font-weight: 500;
          position: relative;
          z-index: 2;
          margin-top: 100px;

          span {
            font-size: 20px;
            font-weight: 300;
          }
        }

        .join-cards_card-advantages {
          margin-top: 20px;

          .join-cards_card-advantages-advantage {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 300;
            color: var(--color-text-white);

            &:not(:last-child) {
              margin-bottom: 15px;
            }

            span {
              margin-right: 5px;
            }
          }

          .advantage-tick {
            text-decoration: underline;
          }
        }

        .join-cards_card-button {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          padding: 30px 180px;
          bottom: 40px;
          background: var(--color-text-white);
          color: var(--color-text-black);
          font-weight: 700;
          text-transform: uppercase;
          border-radius: 50px;
        }
      }
    }
  }
}

.m-footer {
  background: var(--color-text-black);
  padding-bottom: 40px;
  margin-top: 600px;

  .footer-content {
    @include flex-between-center();
    padding-top: 100px;
    padding-bottom: 100px;

    .footer-content_logo {
      text-align: center;

      .footer-logo {
        color: var(--color-text-white);
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      .footer_to-top {
        width: 29px;
        height: 29px;
        background: var(--color-text-white);
        padding: 10px 13px 6px 13px;
        border-radius: 50%;
      }
    }

    .footer-content_sections {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;

      .footer-content_sections_section {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        &:not(:last-child) {
          margin-right: 80px;
        }

        .footer-sections_title {
          color: var(--color-text-white);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          padding-bottom: 10px;
        }

        .footer-sections_list {
          color: var(--color-text-white);
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;

          margin-top: 32px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .m-header {
    .header-navigation {
      .navigation_right {
        .navigation-right__music-button {
          margin-right: 40px;
        }

        .navigation {
          .navigation__button {
            top: calc(var(--index) * 1.2);
          }

          .navigation__background {
            top: calc(var(--index) * 1.3);
          }

          .navigation__icon {
            margin-top: calc(var(--index) * 0.3);
            margin-right: calc(var(--index) * -1.6);
          }
        }
      }
    }
  }
  .m-main {
    // TEST

    // Hero Section
    .hero-section {
      .hero_title {
        font-size: 51px;
      }

      .hero_scrolldown {
        padding-top: 15px;
        padding-bottom: calc(var(--index) * 15);
      }
    }

    // Problems Section
    .problems-section {
    }

    // Timeline Section
    .timeline-section {
      .timeline_graph {
        @include flex-center-center();
        margin-top: 100px;

        .timeline {
          .timeline_section {
            .timeline_content {
              display: flex;
              // justify-content: space-around;
              opacity: 0;
              position: relative;
              z-index: 10;

              border-radius: 20px;

              .content_section {
                width: 400px;
                background: var(--color-text-black);
                padding: 20px;
                border-radius: 20px;
                height: calc(var(--index) * 40);

                &:not(:last-child) {
                  margin-right: 50px;
                }

                .content-mult_title {
                  color: var(--color-text-black);
                  transition: 0.6s ease;
                  font-size: 30px;
                  background-color: var(--color-text-white);
                  text-align: center;
                  text-transform: uppercase;
                  border-radius: 20px;
                  padding: 5px 0;
                }

                .timeline_paragraph {
                  text-align: start;
                  color: var(--color-text-white);
                  font-size: 16px;
                  padding-top: 30px;
                  // padding: 20px 10px;
                  // background: rgba(38, 38, 38, 0.74);
                  // border-radius: 16px;
                  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                  // backdrop-filter: blur(5px);
                  // -webkit-backdrop-filter: blur(5px);
                  // border: 1px solid rgba(38, 38, 38, 0.35);
                  // border-radius: 15px;

                  // height: calc(var(--index) * 20);
                }
              }
            }
          }
        }
      }
    }

    // Seasons Section
    .seasons-section {
      position: relative;
      z-index: 10;
      background: var(--color-text-black);

      .seasons_title {
        text-align: center;
        color: var(--color-text-white);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: relative;
        padding: 36px;

        &::before {
          display: block;
          width: 430px;
          content: "";
          position: absolute;
          border-bottom: 1px solid var(--color-text-white);
          top: 50%;
          right: calc(var(--index) * 5);
          border-radius: 100%;
        }

        &::after {
          display: block;
          width: 430px;
          content: "";
          position: absolute;
          border-bottom: 1px solid var(--color-text-white);
          top: 50%;
          left: calc(var(--index) * 5);
          border-radius: 100%;
        }
      }

      .seasons_series {
        @include flex-center-center();

        .seasons_series_all {
          position: relative;
          height: calc(var(--index) * 87);
          padding: 69px 65px 13px 65px;
          transition: 0.3s ease;
          width: calc(100vw / 4);

          &:hover {
            width: calc(100vw / 3);

            .seasons_series_all_title {
              opacity: 1;
            }

            .seasons_series_all_paragraph {
              opacity: 1;
            }

            .seasons_series_all_play {
              opacity: 1;
            }

            .seasons_series_all_number {
              color: var(--color-text-white);
            }

            .seasons_series_all_hr1 {
              opacity: 0;
            }

            .seasons_series_all_hr2 {
              opacity: 0;
            }
          }

          .seasons_series_all_preview {
            position: absolute;
            left: 50%;
            top: 15%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .seasons_series_all_preview_lock {
              margin: 20px 0;
            }

            // .seasons_series_all_preview_line {
            //   width: calc(var(--index) * -0.9);
            // }
          }

          .seasons_series_all_title {
            color: var(--color-text-white);
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            // margin-top: calc(var(--index) * 45);
            transition: 0.3s ease;
            opacity: 0;
            position: absolute;
            top: calc(var(--index) * 50);
            left: 50%;
            transform: translateX(-50%);
            text-wrap: nowrap;
          }

          .seasons_series_all_paragraph {
            color: #d9d9d9;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 130%;
            padding-top: 7px;
            transition: 0.3s ease;
            opacity: 0;
            width: 300px;

            position: absolute;
            top: calc(var(--index) * 55);
            left: 50%;
            transform: translateX(-50%);
          }

          .seasons_series_all_play {
            color: var(--color-text-white);
            background: var(--color-text-accent);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
            text-wrap: nowrap;
            padding: 10px 40px;
            border-radius: 50px;
            border: 1px solid transparent;

            text-transform: uppercase;
            transition: 0.3s ease;
            position: absolute;
            top: calc(var(--index) * 72);
            left: 50%;
            transform: translateX(-50%);

            &:hover {
            }
          }

          .seasons_series_all_number {
            color: var(--color-text-grey);
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: 0.3s ease;
            position: absolute;
            left: 50%;
            bottom: 5%;
            transform: translateX(-50%);
          }

          .seasons_series_all_logo {
            position: absolute;
            top: calc(var(--index) * 4);
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .seasons_series_all_active {
          transition: 0.4s ease;

          &:hover {
            .seasons_series_all_preview {
              opacity: 0;
            }
          }
        }

        .seasons_series_1 {
          // background: #9e9e9e;
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.2),
              rgba(0, 0, 0, 0.2)
            ),
            url(../../media/img/episodes_preview/1.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-blend-mode: darken;
          width: calc(100vw / 3);

          .seasons_series_all_title {
            opacity: 1;
          }

          .seasons_series_all_paragraph {
            opacity: 1;
          }

          .seasons_series_all_play {
            opacity: 1;
          }

          .seasons_series_all_number {
            opacity: 1;
          }

          .seasons_series_all_preview {
            opacity: 0;
          }
        }

        .seasons_series_2 {
          // background: #8b8b8b;
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.8)
            ),
            url(../../media/img/episodes_preview/2.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          transition: 0.3s ease;

          &:hover {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
              ),
              url(../../media/img/episodes_preview/2.jpg);
          }
        }

        .seasons_series_3 {
          // background: #777777;
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.8)
            ),
            url(../../media/img/episodes_preview/3.jpg);
          background-size: cover;
          background-repeat: no-repeat;

          &:hover {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
              ),
              url(../../media/img/episodes_preview/3.jpg);
          }
        }

        .seasons_series_4 {
          // background: #6b6b6b;
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.8)
            ),
            url(../../media/img/episodes_preview/4.jpg);
          background-size: cover;
          background-repeat: no-repeat;

          &:hover {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
              ),
              url(../../media/img/episodes_preview/4.jpg);
          }
        }

        .seasons_series_5 {
          // background: #5e5e5e;
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.8)
            ),
            url(../../media/img/episodes_preview/1.jpg);
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    // Reviews Section
    .reviews-section {
      background: var(--color-text-black);
      padding-top: 700px;
      padding: 195px 0 calc(var(--index) * 50) 0;
      display: flex;
      position: relative;
      width: 260%;

      .reviews_article {
        padding-left: 100px;
        width: 704px;

        .reviews-article_title {
          color: var(--color-text-white);
          font-size: 64px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          max-width: 604px;
        }

        .reviews-article_paragraph {
          color: var(--color-text-grey);
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          padding-top: 40px;
          margin-bottom: 80px;
          max-width: 575px;
        }

        .reviews-article_button {
          color: var(--color-button-lightgrey);
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          border-radius: 44px;
          background: var(--color-text-accent);
          box-shadow: 0px 4px 4px 0px #8b33fda4;
          padding: 20px 66px;
        }
      }

      .reviews_comments {
        display: flex;
        position: absolute;
        left: calc(var(--index) * 190);

        .reviews-comments_comment {
          padding: 30px 28px;
          width: 455px;
          height: 550px;
          border-radius: 10px;
          background: #e4e6ef;
          filter: drop-shadow(0px 4px 12.5px rgba(255, 255, 255, 0.85));
          margin-right: 250px;

          &:first-child {
            // margin-left: 300px;
          }

          &:nth-child(2n) {
            margin-top: 100px;
          }

          .reviews-comments_video {
            border-radius: 10px;
            background: #d9d9d9;
            width: 399px;
            height: 195px;
          }

          .reviews-comments_rating {
            padding-top: 10px;
          }

          .reviews-comments_title {
            color: var(--color-text-black);
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-top: 20px;
          }

          .reviews-comments_paragraph {
            color: var(--color-text-grey);
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-top: 20px;
          }

          .reviews-comments_date {
            color: var(--color-text-grey);
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-top: 20px;
          }
        }
      }
    }

    // Join Us Section
    .join-section {
      .join_title {
        text-align: center;
        color: var(--color-text-black);
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
  
      .join_cards {
        @include flex-between-center();
        margin-top: 50px;
  
        .join-cards_card {
          background: var(--color-text-black);
          width: calc(var(--index) * 40);
          height: 600px;
          padding: 30px;
          border-radius: 20px;
          position: relative;
  
          &:first-child {
            .join-cards_card-name {
              font-size: calc(var(--index) * 4.9);
            }
          }
  
          .join-cards_card-top {
            @include flex-between-center();
  
            .join-cards_card-top_plan {
              font-size: 12px;
              background: var(--color-text-white);
              color: var(--color-text-black);
              padding: 11px 20px;
              border-radius: 20px;
            }
            .join-cards_card-top_plan-descr {
              color: var(--color-text-grey);
              font-size: 12px;
            }
          }
  
          .join-cards_card-name {
            color: #313131;
            font-size: calc(var(--index) * 4.5);
            font-weight: 700;
            text-wrap: nowrap;
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            top: 130px;
          }
          .join-cards_card-price {
            font-size: 64px;
            color: var(--color-text-white);
            font-weight: 500;
            position: relative;
            z-index: 2;
            margin-top: 100px;
  
            span {
              font-size: 20px;
              font-weight: 300;
            }
          }
  
          .join-cards_card-advantages {
            margin-top: 20px;
  
            .join-cards_card-advantages-advantage {
              display: flex;
              align-items: center;
              font-size: 16px;
              font-weight: 300;
              color: var(--color-text-white);
  
              &:not(:last-child) {
                margin-bottom: 15px;
              }
  
              span {
                margin-right: 5px;
              }
            }
  
            .advantage-tick {
              text-decoration: underline;
            }
          }
  
          .join-cards_card-button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px 130px;
            bottom: 40px;
            background: var(--color-text-white);
            color: var(--color-text-black);
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 50px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) and (min-width: 300px) {
  #preloader {
    display: none;
  }

  .mobile-waiting {
    display: block;
    // padding: 0px 20px;
    // text-align: center;
    background: var(--color-bg);
    position: relative;
    height: 100vh;

    video {
      width: 300px;
      position: absolute;
      top: 17%;
      transform: translateY(-17%);
      left: 50%;
      transform: translateX(-50%);
    }

    .mobile-waiting_title {
      color: var(--color-text-black);
      font-size: 22px;
      text-align: center;

      position: absolute;
      top: 40%;
      transform: translateY(-40%);
    }

    .mobile-waiting_paragraph {
      color: var(--color-text-grey);
      font-size: 14px;
      text-align: center;
      max-width: calc(var(--index) * 45);
      position: absolute;
      top: 49%;
      transform: translateY(-49%);
    }

    .mobile-waiting_button {
      background: var(--color-text-accent);
      color: var(--color-text-white);
      padding: 10px 30px;
      border-radius: 10px;
      border: none;
      position: absolute;
      top: 55%;
      transform: translateY(-55%);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .m-header {
    display: none;
  }

  .m-main {
    display: none;
  }

  .m-footer {
    display: none;
  }
}
